


.main{
    height: 100%
}

.navbar-fixed-top                               {
    webkit-transition:  all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


.panel-info-icon {
    font-size: 18px;
}

h1{
    font-size: 2rem;
    font-weight: 700;
}

.breadcrumb {
    background: none;
    border-bottom: 2px solid #F3F4F3;
    border-radius: 0;
    padding: 0.5rem;
    color: #757575;
}

.breadcrumb li.breadcrumb-item a{
    text-decoration: underline;
    color: #00857C;
    font-weight: 700;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #757575;
    content: ">";
}

.shrink .navbar-fixed-top {
    top: -100px;
}

.navbar {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    padding: 1rem 1rem;

}
.navbar-dark .navbar-nav .active>.nav-link,.navbar-dark .navbar-nav .nav-link.active,.navbar-dark .navbar-nav .nav-link.show,.navbar-dark .navbar-nav .show>.nav-link {
    text-decoration: none;
    background-color: #054d84;

}

.logo {
    padding: 5px;
}


/****pulsanti e link****/
.bg-light {
    background-color: #F3F4F3!important;
}

a {
    color: #005FAB;
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    outline: 2px solid #F06800;
}
/* colori */

.btn {
    font-weight: 600;
}

.modal-header{
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}


.btn-light {
    color: #005FAB;
    background-color: #f3f4f3;
    border-color: #91bbdc;
}


.btn-light:hover,
.btn-light:focus,
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
    color: #005FAB;
    background-color: #fff;
    border-color: #005FAB;
}

.btn-light:focus{
    outline-color: #f06800;
}

.btn-light:visited {
    color: #0073ab;
    background-color: #fff;
    border-color: #91bbdc;
}

.blu-principale{
    color: #005FAB!important;
}
.bg-blu-principale{
    background: #005FAB;
}
.petrolio{
    color: #00857C;
}
.bg-petrolio{
    background-color: #00857C;
}
.text-underline{
    text-decoration: underline!important;
}
.logo > a {
    display: block;
}
/***bottoni***/

/*.btn-primary.blu-principale.disabled{
color: #fff;
background-color: #f3f4f3!important;
border-color: #F3F4F3!important;
}*/

.btn-outline-primary{
    color: #005FAB;
    border-color: #005FAB;
}
.btn-primary,
.show>.btn-primary.dropdown-toggle{
    color: #fff;
    background-color: #005FAB;
    border-color: #005FAB;
}
.btn-outline-primary:hover,.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #054d84;
    border-color: #054d84;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #054d84;
    background-color: #054d84;
}

.btn-primary.bg-petrolio,
.show>.btn-primary.bg-petrolio.dropdown-toggle {
    color: #fff;
    background-color: #00857C;
    border-color: #00857C;
}
.btn-primary.bg-petrolio:hover,
.btn-primary.bg-petrolio:not(:disabled):not(.disabled).active,.btn-primary.bg-petrolio:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #025a54;
    border-color: #025a54;
}

.btn .badge {
    position: absolute;
    top: -5px;
    width: 18px;
    height: 18px;
}

.notifiche h4{
    font-size: 1rem;
}
.notifiche p{
    font-size: 1rem;
}

/*****/
.table-competenze{
    font-family: 'kanit', sans-serif;
}

.table-competenze tr{
    height: 60px;
}
.table-competenze th {
    border-top: none;
}

.table-competenze tbody,
.table-competenze tfoot{
    font-size: 1.2rem;
    line-height: 1rem;
}
.table-competenze .big{
    font-size: 1.5rem;

}
.table-competenze tbody td{
    vertical-align: bottom;

}

.table-competenze tfoot td{
    vertical-align: middle;
}

/***card**/

.card.card-home{
    max-width: 280px;
    margin: auto;
}

.card.card-home,
.card-filtri{
    border: none;
    border-radius: 0;

}

.card.card-filtri h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem !important;
}

.fasce-container{
    position: relative;
}
.fasce-home {
    margin-left: -30px;
    margin-right: -30px;
    padding: 15px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    height: 50px;
    margin-bottom: 5px;
}

.fasce-home2 {
    margin-left: -30px;
    margin-right: -30px;
    padding: 15px;
    font-size: 1.2rem;
    line-height: 1.2rem;
    height: 50px;

}

.fasce-home .numero,
.fasce-home2 .numero{
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Kanit', sans-serif;
}
.card-home .card-header {
    background-color: #fff;
    border-bottom: none;
    position: relative;
    height: 80px;
}
.card-home .card-header h2 {
    font-family: kanit;
    font-weight: 800;
    font-size: 2.5rem;
    position: absolute;
    top: 50px;
    line-height: 0.8;
    left: 18px;
    /* vertical-align: text-top;
    */
    z-index: 4;
}
.card-filtri .card-header {
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 4;
    background: none;
    border-bottom: none;
}

.titolo-pagina .title{
    font-family: 'Kanit', sans-serif;
    line-height: 0.8;
    font-weight: 800;
    font-size: 3rem;
}
.titolo-pagina .pre-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 0.8;
    text-transform: uppercase;
    font-size: 2rem;
}
.card-home .card-body{
    padding-top: 50px;
    position: relative;
}

.card-filtri .card-header h1 span.title {
    font-family: 'Kanit', sans-serif;
    line-height: 0.8;
    font-weight: 800;
    /*font-size: 2.5rem;*/
}

.card-filtri .card-header h1 span.pre-title{
    position: absolute;
    left: 0;
    top: -5px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    line-height: 0.8;
    text-transform: uppercase;
    font-size: 2rem;
}
.card-filtri .card-body {
    margin-top: 50px;
    position: relative;
    z-index: 3;
    padding-top: 35px;
    margin-bottom: 20px;
}


.card-filtri .card-body p {
    margin-bottom:0px;
}


.bg-card-body{
    background-color: #F3F4F3;
    background-color: #fff;
    content: "";
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: -1;
}
.card-home .card-footer {
    border-top: none;
    padding-top: 0;
    background-image: url(../img/background_pixel-grigi.svg);
    background-repeat: no-repeat;
    background-position: top center;
    padding-bottom: 150px;
    background-color: transparent;

}
.scritta-ministero{
    font-weight: 600;
    font-size: 1.3rem;
}
.line {
    width: auto;
    height: 1px;
    border-bottom: 1px solid #e2e2e2;
    margin: 3px auto;
}

/***filtri**/
.filtri .list-group-item .svg-inline--fa{
    width: 1em;
}
.freccia{
    position: absolute;
    right: 10px;
    top: 18px;
    font-size: 12px;
}

:focus {outline: 2px solid #e74a01 !important;}

.no-list-style{ list-style: none; padding:0px;}

.btn-filtri-sidebar {padding:0px;}


.btn-filtri-sidebar {
    position:relative;
    cursor: pointer;
    background: #F3F4F3;
    color: #005fab;
    font-weight: 600;
    text-transform: uppercase;
    padding: 11px 20px;
    margin-bottom: 5px;
    border-radius:0px;

}

.btn-filtri-sidebar-sub{
    position:relative;
    cursor: pointer;
    background: #F3F4F3;
    color: #005fab;
    font-weight: 600;
    padding: 11px 20px;
    margin-bottom: 5px;
    text-transform: uppercase;
    border-radius:0px;

}

.btn-filtri-sidebar-sub.active{
    background: #00857C;
    color: #fff;


}

.btn-filtri-sidebar:focus,
.btn-filtri-sidebar-sub:focus {
    text-decoration: none;

}

/***/
.filtri .list-group-item {
    /* user-select: none;*/
    border: none;
}
.list-group.filtri input[type="checkbox"] {
    display: none;
}
.list-group.filtri input[type="checkbox"] + .list-group-item {
    cursor: pointer;
    background: #F3F4F3;
    border-radius: 3px;
    color: #005fab;
    font-weight: 600;
}
/****/
.filtri a.btn.btn-link {
    padding: 0 0;
    text-decoration: none;
}



.search{
    -webkit-box-shadow:  inset 4px 4px 15px 0px #E2E2E2, 5px 5px 15px 5px rgba(226,226,226,0);
    box-shadow:  inset 4px 4px 15px 0px #E2E2E2, 5px 5px 15px 5px rgba(226,226,226,0);

}

#accordionFiltri .card-body {
    padding: 0 0 0 20px;
    margin-top: 0;
}

/***card corsi***/

.elenco-corsi .table td, .elenco-corsi .table th {
    border-top: none;

}
.elenco-corsi .table td{
    vertical-align: middle;
}

/***stato corsi***/
.corso-attivo .card-footer{
    border-color: #ffc200!important;
}
.corso-attivo .btn-primary{
    border-color: #FFC200!important;
    background-color: #FFC200!important;
    color: #5C4500 !important;
    font-weight: 700;
}

.corso-attivo .btn-primary:hover,
.corso-attivo .btn-primary:active,
.corso-attivo .btn-primary:focus{
    border-color: #967100!important;
    background-color: #967100!important;
    color: #fff!important;
}


.corso-completato .card-footer{
    border-color: #00857C!important;
}
.corso-completato .btn-primary{
    background-color: #00857C!important;
}
.corso-completato .btn-primary:hover,
.corso-completato .btn-primary:active,
.corso-completato .btn-primary:focus{
    border-color: #025a54!important;
    background-color: #025a54!important;

}

.corso-in-attesa .card-footer{
    border-color: #EB6841!important;
}

.corso-aperto .card-footer{
    border-color: #005FAB!important;
}
.corso-in-attesa .btn-primary{
    color: #757575;
    background-color: #F3F4F3;
    border-color: #F3F4F3;
    cursor: not-allowed!important;

}

.corso-in-attesa .btn-primary.disabled, .corso-in-attesa .btn-primary:disabled {
    color: #757575;
    background-color: #F3F4F3;
    border-color: #F3F4F3;
    cursor: not-allowed;
}



.corso-chiuso .btn-primaryr{
    border-color: #757575!important;
    background-color: #757575!important
}

.corso-chiuso .card-footer{
    border-color: #757575!important;
}

.corso-chiuso .card-title{
    color: #757575!important;
}

.corso-chiuso .btn-primary{
    background-color: #757575!important;

}

.corso-chiuso .btn-primary:hover,
.corso-chiuso .btn-primary:active,
.corso-chiuso .btn-primary:focus{
    background-color: #4a4949 !important;
    border-color: #4a4949!important;

}

.corso-respinto .card-footer{
    border-color: #cc333f!important;
}

.corso-respinto .btn-primary{
    background-color: #cc333f !important;
    border-color: #cc333f!important;

}

.corso-respinto .btn-primary:hover,
.corso-respinto .btn-primary:active,
.corso-respinto .btn-primary:focus{
    background-color: #93121c !important;
    border-color: #93121c!important;

}


.stato-corso {
    font-weight: 700;
    font-size: 0.9rem;
}

.corso-attivo .stato-corso{
    color: #5C4500;
}
.corso-completato .stato-corso{
    color: #00857C;
}
.corso-aperto .stato-corso{
    color: #005FAB;
}

.corso-in-attesa .stato-corso{
    color: #BF5336;
}
.corso-chiuso .stato-corso{
    color: #757575;
}
.corso-respinto .stato-corso{
    color: #cc333f;
}
/***/
.legenda{
    font-size: 0.8rem;
    font-weight: bold;
}
.legenda .corso-attivo,
.corso-attivo .stato-label{
    color: #5C4500;
}
.legenda .corso-completato,
.corso-completato .stato-label{
    color: #00857C;
}
.legenda .corso-aperto,
.corso-aperto .stato-label{
    color: #005FAB;
}

.legenda .corso-in-attesa,
.corso-in-attesa .stato-label{
    color: #BF5336;
}
.legenda .corso-chiuso,
.corso-chiuso .stato-label{
    color: #757575;
}
.legenda .corso-respinto,
.corso-respinto .stato-label{
    color: #cc333f;
}
/***scheda dettaglio****/
.toolbar {
    border-bottom: 5px solid;
}

.icona .svg-inline--fa {
    font-size: 1.5rem;
    color: #00857C;
    height: 40px;
}

.informazioni-scheda,
.stato-label{
    font-family: 'Kanit', sans-serif;
}

.corso-attivo .toolbar {
    border-color: #ffc200;
}
.corso-completato .toolbar {
    border-color: #00857C;
}
.corso-aperto .toolbar{
    border-color: #005FAB;
}

.corso-in-attesa .toolbar{
    border-color: #BF5336;
}
.corso-chiuso .toolbar{
    border-color: #757575;
}
.corso-respinto .toolbar{
    border-color: #cc333f;
}


/***/
.miei-percorsi .corso-attivo .badge{
    color: #5C4500;
    background-color:#FFC200;
}
.miei-percorsi .corso-completato .badge{
    background-color: #00857C;
    color: #fff;
}
.miei-percorsi .corso-aperto .badge{
    background-color: #005FAB;
    color: #fff;
}

.miei-percorsi .corso-in-attesa .badge{
    background-color: #BF5336;
    color: #fff;
    font-size: 12px;
}
.miei-percorsi .corso-chiuso .badge{
    background-color: #757575;
    color: #fff;
}
.miei-percorsi .corso-respinto .badge{
    background-color: #cc333f;
    color: #fff;
}


.miei-percorsi .badge {
    height: 25px;
    width: 25px;
    line-height: 20px;
    font-size: 14px;
}

.miei-percorsi .table td.categoria{
    font-size: 14px;
}
.miei-percorsi .table td.data{
    font-family: 'Kanit', sans-serif;
    font-size: 14px;
    font-weight: 400;
}


/****/

.card.corsi {
    border-radius: 0;
    -webkit-box-shadow: 0px 3px 10px 0px rgb(0 32 30 / 25%);
    box-shadow: 0px 3px 10px 0px rgb(0 32 30 / 25%);
}

.corsi .card-body {
    padding: 0.7rem;
    padding-bottom: 0;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

.corsi .badge {
    width: 15px;
    height: 15px;
    /* line-height: 12px; */
}

.corsi .card-title {
    font-family: 'Kanit', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}

.corsi .card-footer{
    border-top: 5px solid;
    background-color: #fff;
    padding: 0.5rem;
    font-weight: 600;

}

.filtri-label {
    position: absolute;
    top: 5px;
    right: 0;
    /*width: 20%;*/
    z-index: 2;
    text-align: right;
}



a.etichetta{
    color: #757575;
    text-decoration: none;
    font-size: 0.7rem!important;
    padding-right: 10px;
    font-weight: 600!important;
}

a.etichetta.btn.preferiti{
    font-size: 0.7rem!important;
    color: #757575;
    padding-top: 0;
    padding-bottom: 0;
}

a.etichetta.btn.preferiti:hover{
    color:#b6715d;
}

.preferiti.attivo .svg-inline--fa{
    color: #EB6841!important;
}

.preferiti.attivo {
    color: #bf5336!important;
}

.info-corso{
    font-size: 0.9rem;
}

.filtri-label > a.etichetta.disabled,
.filtri-label > a.etichetta.disabled .svg-inline--fa{
    color: #757575!important;
}
.filtri-label > a.etichetta .badge{
    font-family: 'Kanit', sans-serif;
}
.filtri-label > a.etichetta.disabled .badge{
    background-color:  #F3F4F3!important;
}

.list-group.filtri input[type="checkbox"]:checked + .list-group-item {
    background-color: #00857C;
    color: #FFF;
}
.list-group.filtri input[type="checkbox"]:checked + .list-group-item:before {
    color: inherit;
}

/****tabs***/

.tab-content{
    /* background-color: #F3F4F3;*/
}

ul.nav-pills {
    border-bottom: 2px solid #005FAB;
}

.nav-tabs,
.nav-pills .nav-link{
    border-bottom: none!important;
    font-family: 'Kanit', sans-serif;

}
.nav-pills .nav-link{
    background-color: #fff;
    color: #757575;
    height: 45px;

}
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background-color: #005FAB;
    color: #fff;

}

/****DataTables***/

.table.dataTable{
    margin-top:20px !important;
}

.elenco-corsi .dataTables_filter-header,
.elenco-corsi .dataTables_info{
    color: #757575;
    font-weight: 400;
    font-size: 0.9rem
}
.elenco-corsi .dataTables_filter-header{
    border-bottom: 1px solid #d1d6dc;
    padding-bottom: 10px;
}

.elenco-corsi .dataTables_paginate ul.pagination{
    color: #757575;
    font-weight: 400;
    font-size: 0.9rem
}

.elenco-corsi .page-item.disabled .page-link {
    color: #F3F4F3;
    pointer-events: none;
    cursor: auto;
    background: none;
    border-color: #F3F4F3;
}

.elenco-corsi .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #005FAB;
    border: #005FAB;
}
.elenco-corsi .page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #757575;
    background: none;
    border: none;
}

.elenco-corsi .page-link:hover {
    z-index: 2;
    color: #005FAB;
    text-decoration: none;
    background: none;
    border: none;
}

.dataTables_wrapper .custom-select{
    border-radius: 0;
    border: none;

    background: #F3F4F3 url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") right .75rem center/8px 10px no-repeat

}
.elenco-corsi .dataTables_wrapper .form-control,
.elenco-corsi .dataTables_wrapper .form-control:focus{
    background-color: #F3F4F3;
    border-radius: 0;
    border: none;
}

.elenco-corsi .dataTables_wrapper .custom-select:focus
{
    color: #495057;
    background-color: #F3F4F3;
}



/************Breakpoints************/
/* Small devices (landscape phones, 576px and up)*/

@media (max-width: 767.98px){
    .d-xs-none{
        display: none;
    }

    .brand{
        width: 100%;
        max-width: 380px;
    }
    .notifiche{
        display: none;
    }
    .header-wrapper{
        display: flex!important;
    }
    .navbar-toggler {
        display: flex;
        padding: 0;
        background-color: #005fab;
        border-radius: 0;
        width: 80px;
    }
    .navbar {
        padding: 0 1rem;

    }
    .navbar-collapse{
        padding: 10px 0;
    }
    .navbar-toggler {
        border-color: #fff;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar-toggler-icon {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40px;
    }


    .corsi .img-bg .img-fluid {
        max-width: 40%;
        height: auto;

    }


    .corsi .card-title {
        max-width: 100%;
    }

    .filtri-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1020;
    }


}

@media (max-width: 991.98px) {

    .btn-filtri-dettaglio {
        width: 40px;
        height: 40px;
        background: #757575;
        color: #fff!important;
        position: fixed;
        bottom: 160px;
        left: 0;
        z-index: 1030;
    }

    .btn.principale {
        position: fixed;
        bottom: 160px;
        right: 0;
        z-index: 1030;
        height: 40px;
        max-width: 200px;
    }


    .foto-corso img.img-fluid {
        object-fit: cover;
        width: 100%;
        height: 100px;
    }

    .elenco-corsi {
        margin-top: 30px;
    }

    .stato-corso {
        text-align: center;
    }
    /****mobile filtri***/
    .btn-filtri{
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        z-index: 999;
        border-left: 1px solid #757575;

    }

    .btn-search-mob{
        display: block;
        position: absolute;
        right: 40px;
        top: 0;
        width: 40px;
        height: 40px;
        z-index: 999;
        border-left: 1px solid #757575;

    }

    .filtri-sidebar {
        position: relative;
        background: #F3F4F3;
        height: 40px;
    }

    .card.card-filtri,
    .card.card-filtri .card-header{
        background: none;
    }

    .card-filtri .card-header  {
        position: relative;
        top: initial;
        left: initial;
        font-size: 1.5rem;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 2px;
        padding-bottom: 0;

    }

    .card-filtri .card-header h1 span.pre-title{
        position: relative;
        left: initial;
        top: initial;
        font-size: 1.4rem !important;
    }
    .card-filtri .card-header h1 {
        font-size:1.6rem;
    }

    .titolo-pagina{
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 0;
        line-height: 1.8rem;
        height: 40px;
    }
    .titolo-pagina .title{
        font-size:1.6rem;

    }
    .titolo-pagina .pre-title    {
        font-size:1.4rem;
    }

    .card-filtri .card-body.intro {
        display: none;
    }

    .myCollapsible,
    .myCollapsibleSearch{
        padding: 15px;
        background: #fff;
        border: 1px solid #757575;
        z-index: 999;
        z-index: 999;
        position: absolute;
        left: 0;
        right: 0;
        top: 40px;
    }

}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .brand{
        width: 100%;
        max-width: 350px;
    }

    .filtri-header {
        margin-left: -15px;
        margin-right: -15px;
    }

    .card-filtri .card-header h1 {
        font-size: 1.6rem;
    }

    .main{
        padding: 155px 0 0;
    }
}



/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px){

    .btn-filtri-dettaglio {
        display: none;
    }

    .brand{
        width: 100%;
        max-width: 450px;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .btn-md-block {
        display: block;
        width: 100%;
    }

    .collapse.myCollapsibleSearch:not(.show),
    .collapse.myCollapsible:not(.show) {
        display: block;
    }

    .btn-filtri,
    .btn-search-mob{
        display: none;
    }


    #footer{
        height: auto
    }


    .corsi .card-title {
        max-width: 75%;
        min-height: 60px;
        font-size: 1.2rem;
        padding-bottom: 50px;
    }

    #sidebar {
        position: -webkit-sticky;
        position: sticky;
        z-index: 1000;
    }
    .info-corso {
        position: absolute;
        left: 12px;
        right: 18px;
        bottom: 5px;
    }

    .filtri-bg-container {
        background-image: url(../img/background_pixel-grigi_orrizzontale.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        padding-left: 50px;

    }

    .filtri-bg{
        padding: 15px 0;
        background-color: #F3F4F3;
    }

}

@media (max-width: 1199px){
    .stato-corso {
        text-align: center;
    }
}

@media (min-width: 1200px){
    .card-filtri .card-header h1 {
        font-weight: 800;
        font-size: 3rem;
    }

    .container-fluid{
        padding-right: 5%;
        padding-left: 5%;
    }


}

@media (min-width: 1920px){
    .container-fluid{
        max-width: 1700px;
    }
}

@media (min-width: 768px){
    .main {
        padding: 165px 0 0;
        min-height:calc(100vh - 165px);

    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .header-wrapper {
        padding-top:15px;

    }

    .navbar-toggler {
        display: none;
    }
    .navbar-fixed-top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .img-bg .img-fluid {
        width: 100%;
    }
}

.row-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.row-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.elenco-corsi .dataTables_pagination-footer {
    border-top: 1px solid #d1d6dc;
    padding-top: 10px;
}

.icon-search{
    color:#005FAB;
    position:absolute;
    top: 11px;
    right: 8px;
    font-size: 16px;
    z-index: 900;
}

.miei-percorsi .table tbody{
    color: #005fab;
}

.miei-percorsi .table thead{
    color: #757575;
}

.btn-round {
    height: 30px;
    width: 30px;
}

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
    opacity: 1!important;
}


.bootstrap-tagsinput{
    width: 100%;
}
.label-info{
    background-color: #005FAB;

}