.sidebar {
    background-color: white;
    color: white;
    width: 300px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .sidebar img {
    padding: 0px 20px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-item {
    font-size: 24px;
    padding: 15px 10px;
    border: 1px dashed white;
    margin: 5px 5px;
    position: relative
  }
  .nav-item .kpi-name {
    font-size: 14px;
  }
  .nav-item .kpi-value {
    font-size: 14px;
    font-weight: 700;
  }
  .nav-item.green-item:after {
    background-color: #15a859;
    border-color: #15a859;
  }
  .nav-item.amber-item:after {
    background-color: #f8ae0a;
    border-color: #f8ae0a;
  }
  .nav-item.red-item:after {
    background-color: #e73e46;
    border-color: #e73e46;
  }
  .nav-item:after {
    content: "";
    display: inline-block;
    width: 7px;
    position: absolute;
    top: 15px;
    right: 10px;
    bottom: 15px;
    border: 1px solid #000;
    border-radius: 7px;
  }
  
  .page {
    background-color: white;
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    bottom: 0;
  }

 .moveToLeft {
    transition: 1s;
    margin-left: -150vh !important;
  }

 .moveToRight {
    transition: 1s;
     margin-left:0  !important;
 }
.moveToLeftPage {
    transition: 1s;
    left: 50px
}

.moveToRightPage {
    transition: 1s;
    left: 300px
}

.selected {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.dismiss {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}

.itemList {
    margin: 1rem
}

.containerItems {
    display: inline-flex;
    width: 100%;
    cursor: pointer;
}

.active {
    background-color: #f3f8ff;
    color: black
}

.main-wrap{
    width: 200px;
    height: 200px;
    position: relative;
}
.content-page{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.relative-sidebar{
    z-index: 9;
}

.absolute {
    position: absolute;
}
.relative {
    position: relative;
    width: 100vh;
    height: 100vh;
}